# Dependências
node_modules/

# Builds
dist/
build/

# Variáveis de ambiente 
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db